#headerOne {
    background-color: aquamarine;
}

.subtext {
    font-size: 15px;
    color: lightgray;
}

body {
    background-color: gray;
}

a:hover {
    color: red;
    font-size: 50px;
}

p .test {
    color: violet;
}

